label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input, label {
    margin:0.4 rem 0;
}

.post {
    container: inline-size;
}

nav {
    display: block;
}

.ftr-1 {
    color:dodgerblue;
    box-sizing: border-box;
    border: 3px solid rgb(32, 198, 244);
    padding: 20px 22px;
    font-size: x-large;
}