label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input, label {
    margin:0.4 rem 0;
}

.post {
    container: inline-size;
}

nav {
    display: block;
}

/* form and card */

.card {
    background-color:lightblue;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    padding:20px;
    border-radius: 5px;
}

.showcase {
    height:400px;
    background-color: lightskyblue;
    color:#fff;
    position: relative;
}
.showcase h1 {
    font-size: 40px;
}
.showcase p {
    margin:20px 0;
}
.showcase {
    overflow: visible;
    grid-template-columns: 55% auto;
    gap:30px;
}

.showcase-form {
    position:relative;
    top:60px;
    height:250px;
    width:400px;
    padding:40px;
    z-index: 100;
    justify-self: flex-end;
    animation:slideInFromRight 1s ease-in;
}
.showcase-form .from-control {
    margin: 30px 0;
}
.showcase-form input[type='text'],
.showcase-form input[type='email']{
    border:0;
    border-bottom: 1px solid #b4becb;
    width:100%;
    padding:3PX;
    font-size: 16px;
}
.showcase-form input:focus {
    outline:none;
}

.showcase::before,
.showcase::after {
    content:'';
    position: absolute;
    height:100px;
    bottom:-70px;
    right:0;
    left:0;
    background: #fff;
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-tranform:skewY(-3deg);
    -ms-transform:skewY(-3deg);
}